body {
  background: #FFFFFF;
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', 'Yu Gothic', 'YuGothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  hyphens: auto;
  line-height: 1.9em;
  margin-right: 20px;
  margin-left : 20px;
  margin-top: 40px;
  margin-bottom: 80px;
  position: relative;
  vertical-align: baseline;
  width: auto;
  -webkit-hyphens: auto;
  -webkit-text-size-adjust: 100%;
}
p {
  margin-bottom: 20px;
  text-align: justify;
}
a {
  color: #002FA7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin: 0 0 0 -1em;
  margin-bottom: 25px;
}
li {
  margin-top: 0.2em;
}
blockquote {
  margin: 0 0 0 1.5rem;
  text-align: justify;
}
span.supText {
  font-size: 75.5%;
  vertical-align: top;
  position: relative;
  top: -0.1em;
}
.top {
  font-size: 14px;
  font-style: italic;
  line-height: 0em;
  margin-bottom: 0px;
}
.header1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 15px;
}
.header2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 16px;
}
.footnote {
  float: left;
  font-size: 13px;
  line-height: 1.9em;
  width: 25px;
}
.description {
  font-size: 13px;
  line-height: 1.9em;
  margin-left: 25px;
  margin-bottom: 10px;
  text-align: justify;
}
@media screen and (min-width: 660px) {
body {
  margin-right: auto;
  margin-left : auto;
  margin-top: 80px;
  margin-bottom: 100px;
  width: 580px;
}
}
